

<div class="group-member"
     [ngClass]="{'expanded': isActive1 === true}"
      >
    <div class="member-container">
      <div class="profile-picture">
        <img src="/../assets/be-profile.jpg" alt="Member profile picture">
      </div>
      <h3 class="member-name">Bereniké Hegedűs</h3>
      <div class="divider center-text"></div>
      <p class="intro-info center-text middle-margin">Curious and cheerful</p>
    </div>
    <div class="member-background">
      <h3 class="off-gray margin-left-41">Background</h3>
      <p class="center-text middle-margin">Right after high school I moved to Denmark, where I started a multimedia design course. After my AP studies I joined a company called TechBBQ, which is the biggest annual tech startup summit. I was working there for over a year as a web designer. The job required me to get involved in everyone’s work a little bit, which gave me a lot of insights in the danish startup scene, networks and trends.

        This year I became an employee of KEA Tech Lounge as a digital content manager, managing the website and the social media channels.

        I’m in a development phase where I’d like to gather knowledge about coding, tech, innovation and how they affects our lives.</p>
    </div>
    <div class="member-skills">
      <h3 class="off-gray margin-left-41">Skills</h3>
      <div class="skill-icons">
        <span>
            <i class="fab fa-html5 fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-css3-alt fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-js fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-react fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-node-js fa-3x purple"></i>
        </span>
        <span>
            <i class="fab fa-php fa-3x purple"></i>
        </span>
      </div>
    </div>
    <div class="btnExpand"
         (click)="onToggle1()">

    </div>
  </div>  
<div class="group-member" [ngClass]="{'expanded': isActive2 === true}">
    <div class="member-container">
      <div class="profile-picture">
        <img src="/../assets/an-profile.jpg" alt="Member profile picture">
      </div>
      <h3 class="member-name">Andra Zēberga</h3>
      <div class="divider center-text"> </div>
      <p class="intro-info center-text middle-margin">Self-driven, with an enthusiastic, flexible and 'can-do' attitude</p>
    </div>
    <div class="member-background">
      <h3 class="off-gray margin-left-41">Background</h3>
      <p class="center-text middle-margin">At  work I have been working with frameworks like Laravel and Angular.
      My multimedia design background has allowed me gain skills how to  implement front-end design.
      In this course I have learned how to work with SQL and document related databases.
      </p>
    </div>
    <div class="member-skills">
      <h3 class="off-gray margin-left-41">Skills</h3>
      <div class="skill-icons">
        <span>
            <i class="fab fa-html5 fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-css3-alt fa-3x purple"></i>
        </span>
        <span>
            <i class="fab fa-sass fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-js fa-3x purple"></i>
        </span>
        <span>
            <i class="fas fa-database fa-3x purple"></i>
        </span>
        <span>
            <i class="small-top-margin fab fa-laravel fa-3x purple"></i>
        </span>
        <span>
            <i class="fab fa-github fa-3x purple"></i>
        </span>
        <span>
            <i class="fab fa-php fa-3x purple"></i>
        </span>
      </div>
    </div>
    <div class="btnExpand" (click)="onToggle2()">

    </div>
</div>
<div class="group-member"
      [ngClass]="{'expanded': isActive3 === true}">
    <div class="member-container">
      <div class="profile-picture">
        <img src="/../assets/mk-profile.jpg" alt="Member profile picture">
      </div>
      <h3 class="member-name">Mikael Karlsson</h3>
      <div class="divider center-text"></div>
      <p class="intro-info center-text middle-margin"> Team oriented, orgainsed and independent individual  with diverse set of useful skills. </p>
    </div>
    <div class="member-background">
      <h3 class="off-gray margin-left-41">Background</h3>
      <p class="center-text middle-margin">I started my studies in a 2 year diploma program where where the focus was on web develeopment and accesible design. I was exposed to multitude of programming languages and frameworks such as React, NodeJs etc. that built a strong foundation when I ultimately went on to continue studying at KEA</p>
    </div>
    <div class="member-skills">
      <h3 class="off-gray margin-left-41">Skills</h3>
      <div class="skill-icons">
        <span>
            <i class="fab fa-html5 fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-css3-alt fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-js fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-react fa-3x purple"></i>
        </span>
        <span>
          <i class="fab fa-node-js fa-3x purple"></i>
        </span>
        <span>
            <i class="fab fa-php fa-3x purple"></i>
        </span>
      </div>
    </div>
    <div class="btnExpand" (click)="onToggle3()">

    </div>
  </div>
